@font-face {
  font-family: KGHappy;
  src: url("./data/hinted-KGHAPPY.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: KGHappySolid;
  src: url("./data/hinted-KGHAPPYSolid.woff2");
  font-weight: 400;
  font-style: normal;
}

.App {
  height: 100vh;
  width: 100vw;
  background-image: url('./data/phobackground.jpg');
  background-size: 100%;
  padding: 20px;
}

.main-header {
  font-size: 70px;
  font-family: KGHappy;
  line-height: 80px;
  margin-bottom: 30px;
  /* background-color: 'white'; */
  /* width: auto; */
}

.card-header {
  font-size: 34px !important;
  font-family: KGHappy !important;
  font-weight: 300 !important;
  /* line-height: 40px; */
}

.blog-list {
  width: 50%;
  padding: 30px;
  font-family: KGHappySolid;
  margin-bottom: 50px;
}